.title {
  color: white;
  font-weight: bolder;
  font-size: 55px;
}

.header {
  background-color: rgb(61, 181, 221);
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  text-align: center;
}

.header input{
  margin-top: 40px;
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  border: 0px solid transparent;
  text-align: center;
  outline: none;
}

.header button{
  margin-top: 40px;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

.header button:hover{
  cursor: pointer;
  color: white;
  background-color: lightblue;
  font-weight: 1000px;
}

.display{
  text-align: center;
}

.pokePic{
  position: absolute;
  top: 550px;
  margin-left: 450px;
  height: 500px;
  width: 500px;
  background-color: lightblue;
  border-radius: 40px;
  opacity: 40%;
  transition: 0.2s;
}

.pokePic:hover{
  background-color: rgb(116, 192, 228);
  opacity: 100%;
  box-shadow: 0px 2px 3px 4px rgb(50, 143, 187);
}

.pokePic img{
  width: 500px;
  height: 500px;
}

.info{
  width: 500px;
  margin-left: 16in;
  margin-top: 2in;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(78, 184, 219, 0.835);
  border-radius: 20px;
  color: white;
}