.title {
  color: white;
  font-weight: bolder;
  font-size: 55px;
}

.header {
  background-color: rgb(61, 181, 221);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0 3rem 0;
}

.header input{
  width: 400px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  outline: none;
}

.header button{
  margin-top: 40px;
  width: 200px;
  height: 50px;
  background-color: lightblue;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 22px;
  transition: 0.2s;
}

.header button:hover{
  cursor: pointer;
  color: black;
  background-color: white;
}

.display{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 5rem 0 5rem 0;
}

.pokePic{
  height: 300px;
  width: 300px;
  padding: 10px;
  background-color: rgba(78, 184, 219, 0.835);
  border-radius: 40px;
  transition: 0.2s;
}

.pokePic:hover{
  box-shadow: 0px 2px 3px 4px rgb(50, 143, 187);
}

.pokePic img{
  width: 250px;
  height: 250px;
}

.display .info{
  padding: 12px;
  background-color: rgba(78, 184, 219, 0.835);
  border-radius: 20px;
  color: white;
  transition: 0.2s;
}

.display .info:hover{
  box-shadow: 0px 2px 3px 4px rgb(50, 143, 187);
}